@model IEnumerable<JobSearchingSystem.Models.ApplicantItem>

@{
    ViewBag.Title = "ManageAppliedRequest";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

<script src="~/Content/vendors/iCheck/custom.min.js"></script>
<script src="~/Content/js/ui-checkbox-radio.js"></script>
<script src="~/Content/js/table-action.js"></script>

<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<script src="~/Content/js/email-compose-mail.js"></script>
<script src="~/Content/vendors/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<link rel="stylesheet" href="~/Content/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="~/Content/css/jquery.tag-editor.css">



<script src="~/Content/js/jquery.caret.min.js"></script>
<script src="~/Content/js/jquery.tag-editor.js"></script>
<script>
    $(document).ready(function () {
        $('.emailbutton').click(function (id, option) {
            $('#receiver').val($(this).data('id'));
            if ($(this).data('option') == "phongvan")
            {
                $('#subjectdiv').addClass("hidden");
            }
            else if ($(this).data('option') == "tinnhan")
            {
                $('#subject').val("");
                $('#subjectdiv').removeClass("hidden");
            }
            
        });
        //$('#receiver').tagEditor({ initialTags: ['tag1', 'tag2', 'tag3'] });
        $.extend($.fn.dataTable.defaults, {
            searching: true
        });
        var table = $('#myTable').DataTable({
            lengthChange: false,
            "language": {
                "lengthMenu": "Hiển thị _MENU_ yêu cầu mỗi trang",
                "zeroRecords": "Không tìm thấy dữ liệu phù hợp",
                "info": "Hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                "infoEmpty": "Không tìm thấy dữ liệu phù hợp",
                "infoFiltered": "(tìm kiếm từ _MAX_ yêu cầu)",
                "oPaginate": {
                    "sNext": "Trang sau",
                    "sPrevious": "Trang trước"
                }
            }

        });

        $('.matchingPercent').click(function (applicantid, jobid) {
            //var userList;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Applicant/GetMatchingDetail",
                data: "{'applicantID':'" + $(this).data('applicantid') + "','jobID':'" + $(this).data('jobid') + "'}",
                dataType: "json",
                success: function (data) {

                    $('#matchingDetailBody').html("");

                    $.each(data, function (i, e) {
                        if (e.isSatisfied) {
                            $('#matchingDetailBody').html($('#matchingDetailBody').html() + "<tr style='color: green'>"
                                                                                            + "<td>"
                                                                                                + e.columnName
                                                                                            + "</td>"
                                                                                            + "<td>"
                                                                                                + e.jobInfo
                                                                                            + "</td>"
                                                                                            + "<td>"
                                                                                                + e.applicantInfo
                                                                                            + "</td>"
                                                                                        + "</tr>");
                        }
                        else {
                            $('#matchingDetailBody').html($('#matchingDetailBody').html() + "<tr style='color: red'>"
                                                                                            + "<td>"
                                                                                                + e.columnName
                                                                                            + "</td>"
                                                                                            + "<td>"
                                                                                                + e.jobInfo
                                                                                            + "</td>"
                                                                                            + "<td>"
                                                                                                + e.applicantInfo
                                                                                            + "</td>"
                                                                                        + "</tr>");
                        }
                    });

                    $('#modal-show-matching-detail').modal('show');
                }
            });
        });

        $('input[type="checkbox"][name="checkboxname"]').on('ifChecked', function (event) {
            if ($('input[type="checkbox"][name="checkboxname"]').filter(':checked').length >= 2) {
                $('input[type="checkbox"][name="checkboxname"]').not(':checked').iCheck('disable');
            }
        });

        $('input[type="checkbox"][name="checkboxname"]').on('ifUnchecked', function (event) {
            $('input[type="checkbox"][name="checkboxname"]').not(':checked').iCheck('enable');
        });

        $('#sosanhbutton').click(function () {
            if ($('input[type="checkbox"][name="checkboxname"]').filter(':checked').length < 2) {
                swal("Bạn cần phải chọn 2 ứng viên để so sánh!", "", "warning")
            }
            else {
                var applicant1;
                var applicant2;
                $('input[type="checkbox"][name="checkboxname"]').filter(':checked').each(function (i, e) {
                    if (i == 0) {
                        applicant1 = $(this).val();
                    }
                    else {
                        applicant2 = $(this).val();
                    }
                });

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Applicant/GetMatchingDetail2",
                    data: "{'applicantID1':'" + applicant1 + "','applicantID2':'" + applicant2 + "','jobID':'" + $('input[name="jobID"]').val() + "'}",
                    dataType: "json",
                    success: function (data) {

                        $('#matchingDetailBody2').html("");

                        $('#ungvien1').html(data.applicantname1);
                        $('#ungvien2').html(data.applicantname2);

                        $.each(data.profile1, function (i, e) {
                            if (data.profile1[i].isSatisfied && data.profile2[i].isSatisfied) {
                                $('#matchingDetailBody2').html($('#matchingDetailBody2').html() + "<tr>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].columnName
                                                                                                + "</td>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].jobInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: green'>"
                                                                                                    + data.profile1[i].applicantInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: green'>"
                                                                                                    + data.profile2[i].applicantInfo
                                                                                                + "</td>"
                                                                                            + "</tr>");
                            } else if (data.profile1[i].isSatisfied && !data.profile2[i].isSatisfied) {
                                $('#matchingDetailBody2').html($('#matchingDetailBody2').html() + "<tr>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].columnName
                                                                                                + "</td>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].jobInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: green'>"
                                                                                                    + data.profile1[i].applicantInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: red'>"
                                                                                                    + data.profile2[i].applicantInfo
                                                                                                + "</td>"
                                                                                            + "</tr>");
                            } else if (!data.profile1[i].isSatisfied && data.profile2[i].isSatisfied) {
                                $('#matchingDetailBody2').html($('#matchingDetailBody2').html() + "<tr>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].columnName
                                                                                                + "</td>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].jobInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: red'>"
                                                                                                    + data.profile1[i].applicantInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: green'>"
                                                                                                    + data.profile2[i].applicantInfo
                                                                                                + "</td>"
                                                                                            + "</tr>");
                            } else if (!data.profile1[i].isSatisfied && !data.profile2[i].isSatisfied) {
                                $('#matchingDetailBody2').html($('#matchingDetailBody2').html() + "<tr>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].columnName
                                                                                                + "</td>"
                                                                                                + "<td>"
                                                                                                    + data.profile1[i].jobInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: red'>"
                                                                                                    + data.profile1[i].applicantInfo
                                                                                                + "</td>"
                                                                                                + "<td style='color: red'>"
                                                                                                    + data.profile2[i].applicantInfo
                                                                                                + "</td>"
                                                                                            + "</tr>");
                            }
                            
                        });

                        $('#modal-show-matching-detail-2').modal('show');
                    }
                });
            }
        });


        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifChecked', function (event) {
            $('input').iCheck('check');

        });


        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifUnchecked', function (event) {
            $('input').iCheck('uncheck');

        });


    });

    $(document).on("click", ".open-ModalApproveConfirm", function (id) {
        var myApplicantId = $(this).data('id');
        $("#ApproveApplicantID").val(myApplicantId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-ModalDisapproveConfirm", function (id) {
        var myApplicantId = $(this).data('id');
        $("#DisapproveApplicantID").val(myApplicantId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });
       
</script>
<script>
    function getTags() {
        document.getElementById("tagList").value = $('#receiver').val();
       
    }
    function makeSafe() {
        document.getElementById('messsage_content2').value = window.encodeURI(editor.getValue());
    };
</script>
<script>
    function EncapsuleData() {
        getTags();
        makeSafe();
        return true;
    }
    
</script>

<div id="modal-show-matching-detail" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">Kết quả so sánh</h4>
            </div>
                <div class="modal-body">
                    <div class="compose-mail">
                        <div class="portlet box portlet-white">
                            <div class="portlet-body">
                                <div role="form-horizontal" method="post">
                                    <div class="table-container">
                                        <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                            <thead>
                                                <tr>
                                                    <th width="15%">Mục so sánh</th>
                                                    <th width="15%">Yêu cầu công việc</th>
                                                    <th width="15%">Ứng viên</th>
                                                </tr>
                                            </thead>
                                            <tbody id="matchingDetailBody">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                    @*<div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">To:</span><input id="receiver" name="receiverUsername" type="text" placeholder="" class="form-control" autocomplete="on" readonly="readonly" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Cc:</span><input id="cc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Bcc:</span><input id="bcc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div id="subjectdiv" class="form-group">
                                        <div class="input-group"><span class="input-group-addon">Subject:</span><input id="subject" name="subject" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="compose-editor mbl"><textarea id="message_content" rows="6" class="wysihtml5 form-control"></textarea></div>
                                    <input type="hidden" id="messsage_content2" name="messageContent" />
                                    <input type="hidden" id="tagList" name="tagList" />*@

                                    @*<div class="form-group">
                                            <input type="file" />

                                            <p class="help-block">
                                                <i class="fa fa-paperclip"></i>&nbsp;
                                                Attachments
                                            </p>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
                    <button type="submit" onsubmit="EncapsuleData()" class="btn btn-green"><i class="fa fa-check"></i> Gửi</button>
                </div>*@
            
        </div>
    </div>
</div>

<div id="modal-show-matching-detail-2" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">Kết quả so sánh</h4>
            </div>
            <div class="modal-body">
                <div class="compose-mail">
                    <div class="portlet box portlet-white">
                        <div class="portlet-body">
                            <div role="form-horizontal" method="post">
                                <div class="table-container">
                                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                        <thead>
                                            <tr>
                                                <th width="15%">Mục so sánh</th>
                                                <th width="15%">Yêu cầu công việc</th>
                                                <th id="ungvien1" width="15%">Ứng viên 1</th>
                                                <th id="ungvien2" width="15%">Ứng viên 2</th>
                                            </tr>
                                        </thead>
                                        <tbody id="matchingDetailBody2"></tbody>
                                    </table>
                                </div>
                                @*<div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">To:</span><input id="receiver" name="receiverUsername" type="text" placeholder="" class="form-control" autocomplete="on" readonly="readonly" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Cc:</span><input id="cc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Bcc:</span><input id="bcc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div id="subjectdiv" class="form-group">
                                        <div class="input-group"><span class="input-group-addon">Subject:</span><input id="subject" name="subject" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="compose-editor mbl"><textarea id="message_content" rows="6" class="wysihtml5 form-control"></textarea></div>
                                    <input type="hidden" id="messsage_content2" name="messageContent" />
                                    <input type="hidden" id="tagList" name="tagList" />*@

                                @*<div class="form-group">
                                        <input type="file" />

                                        <p class="help-block">
                                            <i class="fa fa-paperclip"></i>&nbsp;
                                            Attachments
                                        </p>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
                    <button type="submit" onsubmit="EncapsuleData()" class="btn btn-green"><i class="fa fa-check"></i> Gửi</button>
                </div>*@

        </div>
    </div>
</div>

<div id="modal-wide-width" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">Tin nhắn mới</h4>
            </div>

            @using (Html.BeginForm("SendMessage", "Applicant", FormMethod.Post, new { onsubmit = "return EncapsuleData();" }))
            {
                <div class="modal-body">
                    <div class="compose-mail">
                        <div class="portlet box portlet-white">
                            <div class="portlet-body">
                                <div role="form-horizontal" method="post">
                                    <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                    <div class="form-group">
                                        <div class="input-group"><span class="input-group-addon">To:</span><input id="receiver" name="receiverUsername" type="text" placeholder="" class="form-control" autocomplete="on" readonly="readonly" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Cc:</span><input id="cc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="form-group hidden">
                                        <div class="input-group"><span class="input-group-addon">Bcc:</span><input id="bcc" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div id="subjectdiv" class="form-group">
                                        <div class="input-group"><span class="input-group-addon">Subject:</span><input id="subject" name="subject" type="text" placeholder="" class="form-control" /></div>
                                    </div>
                                    <div class="compose-editor mbl"><textarea id="message_content" rows="6" class="wysihtml5 form-control"></textarea></div>
                                    <input type="hidden" id="messsage_content2" name="messageContent" />
                                    <input type="hidden" id="tagList" name="tagList" />

                                    @*<div class="form-group">
                                            <input type="file" />

                                            <p class="help-block">
                                                <i class="fa fa-paperclip"></i>&nbsp;
                                                Attachments
                                            </p>
                                        </div>*@

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
                    <button type="submit" onsubmit="EncapsuleData()" class="btn btn-green"><i class="fa fa-check"></i> Gửi</button>
                </div>
            }
        </div>
    </div>
</div>


<div id="ModalApproveConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Tiếp nhận hồ sơ</h4>
            </div>
            @using (Html.BeginForm("Approve", "Applicant", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc chấp nhận hồ sơ ứng tuyển này?
                    </p>
                    <input type="hidden" name="applicantID" id="ApproveApplicantID" value="" />
                    <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalDisapproveConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Từ chối nhận hồ sơ</h4>
            </div>
            @using (Html.BeginForm("Disapprove", "Applicant", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc không muốn nhận hồ sơ này?
                    </p>
                    <input type="hidden" name="applicantID" id="DisapproveApplicantID" value="" />
                    <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="page-content" style="padding: 20px 60px 80px 80px">
    <div class="col-lg-9 panel panel-default">
        <h3 style="font-weight:600;text-align:center">Danh sách ứng viên</h3>
        <br />
        <div class="row" style="margin-bottom: 10px">
            <div class="col-sm-3 col-md-3" style="width:23%">
                <button id="sosanhbutton" type="button" class="btn btn-blue btn-sm btn-block">
                    <i class="fa fa-pencil"></i>&nbsp;So sánh
                </button>
            </div>
            <div class="mtl mbl"></div>
        </div>
        <br />
        <div class="table-container">
            <table id="myTable" class="table table-hover table-striped table-bordered table-advanced tablesorter">
                <thead>
                    <tr>
                        <th width="1%"  style="text-align:center">Chọn</th>
                        <th width="15%" style="text-align:center">Tên ứng viên</th>
                        <th width="10%" style="text-align:center">Vị trí</th>
                        <th width="10%" style="text-align:center">Ngày nộp</th>
                        <th width="13%" style="text-align:center">Độ phù hợp</th>
                        <th width="10%" style="text-align:center">Tình trạng</th>
                        <th width="15%" style="text-align:center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td><input id="checkbox@(item.ApplicantID)" value="@item.ApplicantID" name="checkboxname" data-id="checkbox@(item.ApplicantID)" class="checkboxclass" type="checkbox" /></td>
                            @if (item.ProfileID > 0)
                            {
                                <td><a target="_blank" href="@Url.Action("Detail", "Profile", new { profileID = item.ProfileID})">@item.ApplicantFullName</a></td>
                            }
                            else
                            {
                                <td><label>@item.ApplicantFullName</label></td>
                            }
                            <td>@item.ExpectedJob</td>
                            <td>@item.AppliedDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (item.MatchingPercent < 30)
                                {
                                    <div data-applicantid="@item.ApplicantID" data-jobid="@ViewBag.JobID" data-toggle="tooltip" title="Xem so sánh" role="progressbar" aria-valuenow="@item.MatchingPercent" aria-valuemin="0" aria-valuemax="100" style="width: @item.MatchingPercent%;" class="progress-bar progress-bar-danger matchingPercent">
                                        <span class="sr-only">@item.MatchingPercent Complete</span>
                                        @item.MatchingPercent%
                                    </div>
                                }
                                else if (item.MatchingPercent < 70)
                                {
                                    <div data-applicantid="@item.ApplicantID" data-jobid="@ViewBag.JobID" data-toggle="tooltip" title="Xem so sánh" role="progressbar" aria-valuenow="@item.MatchingPercent" aria-valuemin="0" aria-valuemax="100" style="width: @item.MatchingPercent%;" class="progress-bar progress-bar-warning matchingPercent">
                                        <span class="sr-only">@item.MatchingPercent Complete</span>
                                        @item.MatchingPercent%
                                    </div>
                                }
                                else
                                {
                                    <div data-applicantid="@item.ApplicantID" data-jobid="@ViewBag.JobID" data-toggle="tooltip" title="Xem so sánh" role="progressbar" aria-valuenow="@item.MatchingPercent" aria-valuemin="0" aria-valuemax="100" style="width: @item.MatchingPercent%;" class="progress-bar progress-bar-success matchingPercent">
                                        <span class="sr-only">@item.MatchingPercent Complete</span>
                                        @item.MatchingPercent%
                                    </div>
                                }
                                
                            </td>
                            @if (item.Status == 0)
                            {
                                <td>
                                    <span class="label label-sm label-info">Chờ duyệt</span>
                                </td>
                                <td>
                                    <button type="button" style="display: inline" data-target="#modal-wide-width" data-option="phongvan" data-id=@item.ApplicantUsername data-toggle="modal" class="emailbutton btn btn-yellow btn-sm">
                                        <i class="fa fa-comments-o" data-toggle="tooltip" title="Phỏng vấn"></i>
                                    </button>

                                    @using (Html.BeginForm("Approve", "Applicant", FormMethod.Post, new { id = "ApproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="ApproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn duyệt?" class="btn btn-success btn-sm confirmButton">
                                            <i class="fa fa-check" data-toggle="tooltip" title="Duyệt"></i>&nbsp;
                                        </button>
                                    }

                                    @using (Html.BeginForm("Disapprove", "Applicant", FormMethod.Post, new { id = "DisapproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="DisapproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn từ chối?" class="btn btn-danger btn-sm confirmButton">
                                            <i class="fa fa-times" data-toggle="tooltip" title="Từ chối"></i>&nbsp;
                                        </button>
                                    }
                                </td>
                            }
                            else if (item.Status == 1)
                            {
                                <td>
                                    <span class="label label-sm label-yellow">Chờ phỏng vấn</span>
                                </td>
                                <td>
                                    
                                    <button type="button" style="display: inline" data-target="#modal-wide-width" data-option="tinnhan" data-id=@item.ApplicantUsername data-toggle="modal" class="emailbutton btn btn-yellow btn-sm">
                                        <i class="fa fa-comments-o" data-toggle="tooltip" title="Viết tin nhắn mới"></i>
                                    </button>

                                    @using (Html.BeginForm("Approve", "Applicant", FormMethod.Post, new { id = "ApproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="ApproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn duyệt?" class="btn btn-success btn-sm confirmButton">
                                            <i class="fa fa-check" data-toggle="tooltip" title="Duyệt"></i>&nbsp;
                                        </button>
                                    }
                                    
                                    @using (Html.BeginForm("Disapprove", "Applicant", FormMethod.Post, new { id = "DisapproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="DisapproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn từ chối?" class="btn btn-danger btn-sm confirmButton">
                                            <i class="fa fa-times" data-toggle="tooltip" title="Từ chối"></i>&nbsp;
                                        </button>
                                    }
                                </td>
                            }
                            else if (item.Status == 2)
                            {
                                <td>
                                    <span class="label label-sm label-success">Đã duyệt</span>
                                </td>
                                <td>
                                                                              
                                    <button type="button" style="display: inline" data-target="#modal-wide-width" data-option="tinnhan" data-id=@item.ApplicantUsername data-toggle="modal" class="emailbutton btn btn-yellow btn-sm">
                                        <i class="fa fa-comments-o" data-toggle="tooltip" title="Viết tin nhắn mới"></i>
                                    </button>
                                    
                                    @using (Html.BeginForm("Disapprove", "Applicant", FormMethod.Post, new { id = "DisapproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="DisapproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn từ chối?" class="btn btn-danger btn-sm confirmButton">
                                            <i class="fa fa-times" data-toggle="tooltip" title="Từ chối"></i>&nbsp;
                                        </button>
                                    }
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="label label-sm label-danger">Đã từ chối</span>
                                </td>
                                   
                                <td>
                                    <button type="button" style="display: inline" data-target="#modal-wide-width" data-option="tinnhan" data-id=@item.ApplicantUsername data-toggle="modal" class="emailbutton btn btn-yellow btn-sm">
                                        <i class="fa fa-comments-o" data-toggle="tooltip" title="Viết tin nhắn mới"></i>
                                    </button>
                                    
                                    @using (Html.BeginForm("Approve", "Applicant", FormMethod.Post, new { id = "ApproveForm" + item.ApplicantID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="applicantID" value="@item.ApplicantID" />
                                        <input type="hidden" name="jobID" value="@ViewBag.JobID" />
                                        <button type="button" data-id="ApproveForm@(item.ApplicantID)" data-message="Bạn thật sự muốn duyệt?" class="btn btn-success btn-sm confirmButton">
                                            <i class="fa fa-check" data-toggle="tooltip" title="Duyệt"></i>&nbsp;
                                        </button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
