@{
    ViewBag.Title = "ManageMessage";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

@model JobSearchingSystem.Models.MessageViewModel
@using System.Text.RegularExpressions
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


@*<script src="~/Content/js/bootstrap-tagsinput.js"></script>
<script src="~/Content/js/bootstrap-tagsinput-angular.js"></script>*@
@*<link href="~/Content/css/jquery.tagit.css" rel="stylesheet" type="text/css">
<link href="~/Content/css/tagit.ui-zendesk.css" rel="stylesheet" type="text/css">
<script src="~/Content/js/tag-it.js" type="text/javascript" charset="utf-8"></script>*@
<link rel="stylesheet" href="~/Content/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="~/Content/css/jquery.tag-editor.css">



<script src="~/Content/js/jquery.caret.min.js"></script>
<script src="~/Content/js/jquery.tag-editor.js"></script>
@*<script>
    $(function(){
        var sampleTags = ['c++', 'java', 'php', 'coldfusion', 'javascript', 'asp', 'ruby', 'python', 'c', 'scala', 'groovy', 'haskell', 'perl', 'erlang', 'apl', 'cobol', 'go', 'lua'];
        $('#receiver').tagit({
            availableTags: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Message/AutoCompleteUser",
                    data: "{'username':'" + document.getElementById('receiver').value + "'}",
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item
                            };
                        }));
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }
        });
    });
  
</script>*@


        <style>
            .ui-autocomplete {
                z-index: 5000;
            }


        .ui-menu .ui-menu-item a.ui-corner-all:hover, .ui-menu .ui-menu-item a.ui-corner-all:focus, .ui-menu .ui-menu-item a.ui-corner-all:active {
            background: #ff8a00 !important;
            color: #000;
            border-radius: 0;
        }

        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
            background: #ff8a00;
            border: none;
            color: #000;
            border-radius: 0;
            font-weight: normal;
        }
        </style>

        <script src="~/Content/js/email-compose-mail.js"></script>
<script src="~/Content/vendors/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<script>
    function makeSafe() {
        document.getElementById('messsage_content2').value = window.escape(editor.getValue());
    };

    function makeDangerous() {
        document.getElementById('Topic_content').value = window.unescape(document.getElementById('Topic_content').value);
    }
    function checkAll() {
        $('input:visible').iCheck('check');
    }
    function unCheckAll() {
        $('input:visible').iCheck('uncheck');
    }
</script>




<script>

    function OptionsSelected(me) {
        alert(me.id);
    }

</script>

<script type="text/javascript">
    function GetSentMessageList() {
        $.ajax({

            url: "/Message/SentMessageList",
            type: 'Get',
            data: null,
            success: function (data) {
                //$("#divLoading").hide();
                $("#messageList").empty().append(data);
             
            },
            error: function () {
                //$("#divLoading").hide();
                alert("something seems wrong");
            }
        });
    }
    function summitDeleteForm() {



        document.getElementById("typeOfMessage").value = document.getElementById("messageRole").value;

      
         
            swal({
                title: "Bạn có chắc muốn xóa tin nhắn?",
                text: "",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Có",
                cancelButtonText: "Không",
                closeOnConfirm: false
            },
                   function () {
                       var checkboxes = $(".icheckbox_minimal-grey").filter(".checked");
                       if (checkboxes.length == 0) {
                           swal({
                               title: "Bạn chưa chọn bất kì tin nhắn nào",
                               text: "",
                               type: "error",
                               showCancelButton: true,
                               showConfirmButton: false,
                               cancelButtonColor: "#DD6B55",
                               cancelButtonText: "Đóng",
                               closeOnConfirm: false
                           });
                       } else {
                           $('form#deleteForm').submit();
                       }

                       //alert(id);
                   });

   


      
    }

    $(document).ready(function () {       

        SearchText();
    });
    function SearchText() {
        var userList;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Message/AutoCompleteUser",
            data: "{'username':'" + document.getElementById('receiver').value + "'}",
            dataType: "json",
            success: function (data) {
                userList = data;
                $('#receiver').tagEditor({
                    autocomplete: {
                        delay: 0, // show suggestions immediately
                        position: { collision: 'flip' }, // automatic menu position up/down
                        source: userList
                    },
                    forceLowercase: false,
                    placeholder: 'Tài khoản người nhận...',
                    onChange: function (field, editor, tags) {

                    }
                });
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
</script>





<script type="text/javascript">
    $(document).ready(function () {
        var typeOfMessage = "@Model.typeOfMessage";
        if("allMessage" == typeOfMessage){
            $("#allMessage").addClass("active");
        }

        if ("sentMessage" == typeOfMessage) {
            $("#sentMessage").addClass("active");
        }

        if ("deletedMessage" == typeOfMessage) {
            $("#deletedMessage").addClass("active");
        }
    })
</script>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        $('#receiver2').autocomplete({
            source: '@Url.Action("AutoCompleteUser")'
        });
    })
</script>
<script>
    function getTags() {
        document.getElementById("tagList").value = $('#receiver').tagEditor('getTags')[0].tags;
        
    }
</script>
<script>
    function EncapsuleData() {
       
            //var packageForm = $('#packageForm');
            //var packageId = $("input[name='jobPackageID']").val();
        //var quantity = $("#quantity option:selected").text();
        
            getTags();
            var userList = document.getElementById("tagList").value;
            var content = editor.getValue();
            if (userList == "") {
                swal("Vui lòng nhập tài khoản người nhận", "", "error")
            }else if(content == "")
            {
                swal("Vui lòng nhập nội dung tin nhắn", "", "error")
            } else
            {

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Message/CheckReceiverList",
                    data: "{'userList':'" + userList + "'}",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            //swal("Đã gửi yêu cầu thành công", "", "success");

                            makeSafe();
                            $('form#sendMessageForm').submit();



                            //$("#modal-report").modal("hide");
                            //$(".modal-backdrop").remove();
                        } else {
                            swal("Không thể gửi tin nhắn!", "Có tài khoản không tồn tại trong danh sách người nhận", "error")



                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }

                });
            }


          
        
        //getTags();
        //makeSafe();
        //return false;
    }
</script>
<div id="modal-wide-width" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-wide-width">
        <div class="modal-content">            
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">Tin nhắn mới</h4>
            </div>

            @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post, new { id= "sendMessageForm" }))
            { 
            <div class="modal-body">
                <div class="compose-mail">
                    <div class="portlet box portlet-white">                      
                        <div class="portlet-body">
                            <div role="form-horizontal" method="post">
                                <div class="form-group">
                                    <div class="input-group"><span class="input-group-addon">To:</span><input id="receiver" name="receiver" type="text" placeholder="" class="form-control" autocomplete="on" /></div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="input-group"><span class="input-group-addon">Cc:</span><input id="cc" type="text" placeholder="" class="form-control" /></div>
                                </div>
                                <div class="form-group hidden">
                                    <div class="input-group"><span class="input-group-addon">Bcc:</span><input id="bcc" type="text" placeholder="" class="form-control" /></div>
                                </div>
                                @*<div class="form-group">
                                    <div class="input-group"><span class="input-group-addon">Subject:</span><input id="subject" type="text" placeholder="" class="form-control" /></div>
                                </div>*@
                                <div class="compose-editor mbl"><textarea id="message_content" rows="6" class="wysihtml5 form-control"></textarea></div>
                                <input type="hidden" id="messsage_content2" name="messageContent" />
                                <input type="hidden" id="tagList" name="tagList"/>
                            
                                @*<div class="form-group">
                                    <input type="file" />

                                    <p class="help-block">
                                        <i class="fa fa-paperclip"></i>&nbsp;
                                        Attachments
                                    </p>
                                </div>*@
                   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>              
                <button type="button" onclick="EncapsuleData()" class="btn btn-green"><i class="fa fa-check"></i> Gửi</button>
            </div>
            }
        </div>
    </div>
</div>


<div class="page-content" style="padding: 20px 80px 795px 120px">
    <div class="col-lg-12 panel panel-default" >
        <h2 style="font-weight:600;text-align:center">Quản lý tin nhắn</h2>
        <br />
             <div class="row">
            <div class="col-sm-3 col-md-2">
            </div>
                 <div class="col-sm-8 col-md-8" style="margin-left: 8%;">

                     <button type="button" data-toggle="tooltip" title="" onclick="window.location.reload()"  class="btn btn-default btn-sm mls mrs" data-original-title="Refresh"><span class="glyphicon glyphicon-refresh"></span></button>
                     <div class="btn-group btn-group-sm">
                         <button type="button" data-toggle="dropdown" class="btn btn-blue dropdown-toggle">
                             Thao tác
                             &nbsp;<span class="caret"></span>
                         </button>
                         <ul role="menu" class="dropdown-menu">
                             <li><a onclick="checkAll()"><i class="fa fa-check-circle-o fa-fw mrs"></i> Đánh dấu tất cả tin nhắn</a></li>
                             <li><a onclick="unCheckAll()"><i class="fa fa-check-circle-o fa-fw mrs"></i> Bỏ đánh dấu tất cả tin nhắn</a></li>
                             <li><a onclick="summitDeleteForm()"><i class="fa fa-trash-o fa-fw mrs"></i>Xóa các tin nhắn đã chọn</a></li>
                             @*<li class="divider"></li>
                    <li class="text-center pbm">
                        <small class="text-muted">Select messages to see more actions</small>
                    </li>*@
                         </ul>
                     </div>
                     <div class="pull-right">



                     </div>
                 </div>
        </div>
        <div class="mtl mbl"></div>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <button type="button" data-target="#modal-wide-width" data-toggle="modal" class="btn btn-danger btn-sm btn-block"><i class="fa fa-pencil" style="margin-right:10px"></i>Viết tin nhắn mới</button>
                <div class="mtm mbm"></div>
                <ul id="messageCategory" style="border-style: solid;background: #FFF;border-color: rgb(230, 232, 216);" class="nav nav-pills nav-stacked">
                    <li id="allMessage"><a href="/Message/List"><span class="badge pull-right">@Model.numberOfInbox</span><i class="fa fa-inbox fa-fw mrs"></i>Hộp tin</a></li>
                    <li id="sentMessage"><a href="/Message/SentMessageList"><span class="badge pull-right">@Model.numberOfSent</span><i class="fa fa-plane fa-fw mrs"></i>Tin đã gửi</a></li>
                    <li id="deletedMessage"><a href="/Message/DeletedMessageList"><span class="badge pull-right">@Model.numberOfDeleted</span><i class="fa fa-trash-o fa-fw mrs"></i>Tin đã xóa</a></li>
                </ul>
                <hr>
                @*<ul style="background: #fff" class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Buddy Online</a></li>
                <li><a href="#"><i class="fa fa-circle text-yellow pull-right"></i>Home</a></li>
                <li><a href="#"><i class="fa fa-circle text-success pull-right"></i>Work</a></li>
                <li><a href="#"><i class="fa fa-circle text-red pull-right"></i>Family</a></li>
                <li><a href="#"><i class="fa fa-circle text-muted pull-right"></i>Other</a></li>
            </ul>*@
            </div>
            <div class="col-sm-9 col-md-9">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                            <span class="glyphicon glyphicon-inbox"></span>&nbsp;
                            Tin nhắn
                        </a>
                    </li>
                    @*<li class="">
                    <a href="#profile" data-toggle="tab">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        Social
                    </a>
                </li>
                <li class="">
                    <a href="#messages" data-toggle="tab">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;
                        Promotions
                    </a>
                </li>
                <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus man"></span></a></li>*@
                </ul>


                @*<h2>Chat</h2>
            <div class="container">
                <input type="text" id="message" />
                <input type="button" id="sendmessage" value="Send" />
                <input type="hidden" id="displayname" />
                <ul id="discussion"></ul>
            </div>*@
                @*@section scripts {
                <!--Script references. -->
                <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
                <!--Reference the SignalR library. -->
                <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
                <!--Reference the autogenerated SignalR hub script. -->
                <script src="~/signalr/hubs"></script>
                <!--SignalR script to update the chat page and send messages.-->
                <script>
                    $(function () {
                        // Reference the auto-generated proxy for the hub.
                        var chat = $.connection.chatHub;
                        // Create a function that the hub can call back to display messages.
                        chat.client.addNewMessageToPage = function (name, message) {
                            // Add the message to the page.
                            $('#discussion').append('<li><strong>' + htmlEncode(name)
                                + '</strong>: ' + htmlEncode(message) + '</li>');
                        };
                        // Get the user name and store it to prepend to messages.
                        $('#displayname').val(prompt('Enter your name:', ''));
                        // Set initial focus to message input box.
                        $('#message').focus();
                        // Start the connection.
                        $.connection.hub.start().done(function () {
                            $('#sendmessage').click(function () {
                                // Call the Send method on the hub.
                                chat.server.send($('#displayname').val(), $('#message').val());
                                // Clear text box and reset focus for next comment.
                                $('#message').val('').focus();
                            });
                        });
                    });
                    // This optional function html-encodes messages for display in the page.
                    function htmlEncode(value) {
                        var encodedValue = $('<div />').text(value).html();
                        return encodedValue;
                    }
                </script>
            }*@

                @if (Model.typeOfMessage == "sentMessage")
                {
                    <div id="messageList">
                        @{Html.RenderPartial("_MessageSentPartial", Model);}
                    </div>
                }
                else
                {
                    <div id="messageList">
                        @{Html.RenderPartial("_MessagePartial", Model);}
                    </div>
                }

                <input type="hidden" name="messageRole" id="messageRole" value="@Model.typeOfMessage" />

                @*@Html.Partial("_MessagePartial")*@


                @*@using (Html.BeginForm("DeleteMessage", "Message", FormMethod.Post, new { id = "deleteForm" }))
                                {
            <input type="text" id="listMessageDelete" name="listMessageDelete" />
                                }*@

                @*<a href="/Message/Detail?id=@item.MessageID " class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">@item.SenderName</span><span></span>&nbsp; - &nbsp;<span style="font-size: 11px;" id="message_@item.MessageID" class="text-muted">@noHTMLNormalised</span><span class="badge">@item.SendTime</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a>*@
                @*<script>
              $(document).ready(function () {
                  document.getElementById("message_@item.MessageID").innerHTML = window.unescape("@item.Content");
              });
            </script>*@







                @*<div id="profile" class="tab-pane fade">
                <div class="list-group">
                    <a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a>
                </div>
            </div>
            <div id="messages" class="tab-pane fade">
                <div class="list-group">
                    <a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a>
                </div>
            </div>
            <div id="settings" class="tab-pane fade in">
                <div class="list-group">
                    <a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a><a href="#" class="list-group-item">
                        <div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; -
                        &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                    </a><a href="@Url.Action("ViewMessage")" class="list-group-item"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div><span class="fa fa-star-o mrm mlm"></span><span style="min-width: 120px; display: inline-block;" class="name">Trương Gia Bình</span><span>Accept job applied request</span>&nbsp; - &nbsp;<span style="font-size: 11px;" class="text-muted">Dear Mr.Vinh We are glad to invite you to Fville at 5.pm for...</span><span class="badge">12:10 AM</span><span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span></a>
                </div>
            </div>*@

            </div>
        </div>

    </div>

</div>
