
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}
@model JobSearchingSystem.Models.InvoiceVIewModels

<script src="~/Content/js//sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/css/sweetalert.css">
<script>
    function sleep(milliseconds) {
        var start = new Date().getTime();
        for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds) {
                break;
            }
        }
    }
    function SendPackageRequest() {
        var packageForm = $('#packageForm');
        var packageId = $("input[name='jobPackageID']").val();
        var quantity = $("#quantity option:selected").text();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/JobPackage/SendPackageRequest",
                data: "{'packageQuantity':'" + quantity + "','jobPackageID' :'" + packageId + "'}",
                dataType: "json",
                success: function (data) {
                    if (data) {
                        //swal("Đã gửi yêu cầu thành công", "", "success");
                        swal({ title: "Đã gửi yêu cầu thành công", text: "", type: "success", showCancelButton: false, confirmButtonColor: "#DD6B55", confirmButtonText: "Đóng", closeOnConfirm: false }, function () { window.location.href = "/JobPackage/JobPackageRequestListRecruiter"; });
                     
                        
                        
                      
                        //$("#modal-report").modal("hide");
                        //$(".modal-backdrop").remove();
                    } else {
                      

                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
         
        }

    function commafy(num) {
        var str = num.toString().split('.');
        if (str[0].length >= 5) {
            str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
        }
        if (str[1] && str[1].length >= 5) {
            str[1] = str[1].replace(/(\d{3})/g, '$1 ');
        }
        return str.join('.');
    }

    $(document).ready(function () {
        var quantity = parseInt($("#quantity").val(), 10);
        var price = parseInt($("#price").val(), 10);
       
        $("#packagePrice").text(commafy(price));
        $("#total").text(commafy(quantity * price));

        $('#quantity').on('change', function (e) {            
            var quantity = parseInt($("#quantity").val(), 10);
            var price = parseInt($("#price").val(), 10);

            $("#total").text(commafy(quantity * price));        

        });

        })
    ;
</script>

@using (Html.BeginForm("SendPackageRequest", "JobPackage", new { id="packageForm"}))
{


    <input type="hidden" name="jobPackageID" value="@Model.jobPackage.JobPackageID" />
<div class="page-content" style="padding: 20px 60px 50px 200px; background-color: #dedede">
    <div id="invoice-page" class="row">
        <div class="col-md-11">
            <div class="panel">
                <div class="panel-body">
                    <div class="invoice-title">
                        <h2>Hóa đơn</h2>
                        <p class="text-left">
                            @DateTime.Now
                    </p>
                </div>
                <div class="pull-left">
                    <h2 class="text-green logo">Job Searching System</h2>
                    <address class="mbn">78183 Sweards Bluff Ave<br />New York, CA 94107<br /><abbr title="Phone">P:</abbr>(123) 456-7890<br /><br />info@email.com</address>
                </div>
                <div class="clearfix"></div>
                <hr />


                <h4 class="block-heading">Thông tin đơn hàng</h4>
                <input id="price" type="hidden" value="@Model.jobPackage.Cost" />
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <td><strong>Sản phẩm</strong></td>
                                <td class="text-center"><strong>Giá</strong></td>
                                <td class="text-center"><strong>Số lượng</strong></td>
                                <td class="text-right"><strong>Tổng cộng</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="font-size: medium; padding-top: 2%; font-weight: bolder;">Gói @Model.jobPackage.Name</td>
                                <td id="packagePrice" class="text-center" style="font-size: medium;padding-top: 2%;">@Model.jobPackage.Cost.ToString().TrimEnd('0').TrimEnd(',')</td>
                                <td class="text-center">
                                    <select id="quantity" name="packageQuantity">
                                        @for (int i = 1; i < 21; i++)
                                        {
                                            <option value="@i">@i </option>
                                        }

                                        @*<option value="2">2 </option>
                                        <option value="3">3 </option>
                                        <option value="5">5 </option>
                                        <option value="10">10</option>*@
                                    </select>
                                </td>
                                <td class="text-right"><h2 class="text-green mtn"><strong></strong><strong id="total">685.99</strong></h2></td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <hr class="mbm" />
                <p>Cảm ơn đã sử dụng dịch vụ của chúng tôi. Vui lòng thanh toán trong vòng 30 ngày.</p>
            </div>
        </div>
        <div class="col-lg-7" style="margin-left: 64%;">
            <button type="button" class="btn btn-success mrm" onclick="SendPackageRequest()">
                <i class="fa fa-credit-card"></i>&nbsp;
                Gửi yêu cầu
            </button>
            <button type="button" class="btn btn-white">
                <i class="fa fa-times"></i>&nbsp;
                Hủy
            </button>
        </div>
    </div>
      
    </div>
</div>
}