@{
    ViewBag.Title = "Manage Profile";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

@model JobSearchingSystem.Models.ProListViewModel

<script>
    $(document).ready(function () {

        $.extend($.fn.dataTable.defaults, {
            searching: true
        });
        var table = $('#myTable').DataTable({
            lengthChange: false,
            "language": {
                "lengthMenu": "Hiển thị _MENU_ yêu cầu mỗi trang",
                "zeroRecords": "Không tìm thấy dữ liệu phù hợp",
                "info": "Hiển thị trang _PAGE_ trên tổng số _PAGES_ trang",
                "infoEmpty": "Không tìm thấy dữ liệu phù hợp",
                "infoFiltered": "(tìm kiếm từ _MAX_ yêu cầu)",
                "oPaginate": {
                    "sNext": "Trang sau",
                    "sPrevious": "Trang trước"
                }
            }

        });


        $('.deletebutton').click(function (id) {
            $('#deleteprofileID').val($(this).data('id'));
        });

        $('input[type="checkbox"][name="activeStatusChx"]').on('ifChecked', function (event) {
            this.form.submit();
            //$('input[type="hidden"][name="activeStatus"]').val("true");
        });
        $('input[type="checkbox"][name="activeStatusChx"]').on('ifUnchecked', function (event) {
            this.form.submit();
            //$('input[type="hidden"][name="activeStatus"]').val("false");
        });
    });
</script>

<div id="ModalDeleteConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Xóa hồ sơ</h4>
            </div>
            @using (Html.BeginForm("Delete", "Profile", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc chắn sẽ xóa hồ sơ này?
                    </p>
                    <input type="hidden" name="profileID" id="deleteprofileID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="page-content" style="padding: 20px 100px 20px 100px; background-color: #dedede">
    <div class="col-lg-9 panel panel-default">
        <h3 style="font-weight:600;text-align:center">Quản lý hồ sơ</h3>
        <br />
        <a href="@Url.Action("Update", new { mode = "create" })" class="btn btn-grey btn-sm">
            <i class="fa fa-pencil"></i>&nbsp;
            Tạo hồ sơ
        </a>
        <br />
        <br />
        <div class="table-container">

            <table id="myTable" class="table table-hover table-striped table-bordered table-advanced tablesorter">
                <thead>
                    <tr>
                        <th width="3%">Stt</th>
                        <th width="18%">Tiêu đề </th>
                        <th width="13%">Cho phép tìm kiếm</th>
                        <th width="10%">Lần xem</th>
                        <th width="20%">Ngày cập nhật</th>
                        <th width="7%">Trạng thái</th>
                        <th width="15%">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.proList != null)
                    {
                        foreach (var item in Model.proList)
                        {
                            <tr>
                                <td>@item.No</td>
                                <td>@item.ProfileName</td>
                                <td>
                                    @using (Html.BeginForm("ActiveProfile", "Profile", new { activeProfileId = item.ProfileID }, FormMethod.Post))
                                    {
                                        if (item.IsActive == true)
                                        {
                                            <input type="hidden" name="activeStatus" id="activeStatus" value="false" />
                                            <input id="activeStatusChx" name="activeStatusChx" tabindex="9" type="checkbox" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="activeStatus" id="activeStatus" value="true" />
                                            <input id="activeStatusChx" name="activeStatusChx" tabindex="9" type="checkbox" />
                                        }
                                    }
                                </td>
                                <td>@item.ViewedCount</td>
                                <td>@item.UpdatedTime</td>
                                @if (item.PerccentStatus == 100)
                                {
                                    <td><span class="label label-sm label-success">Đã hoàn thành</span></td>
                                }
                                @if (item.PerccentStatus < 100)
                                {
                                    <td><span class="label label-sm label-info">@item.PerccentStatus%</span></td>
                                }

                                <td>
                                    <a href="@Url.Action("Update", new { profileID = item.ProfileID })" class="open-ModalDisapproveConfirm btn btn-blue btn-sm" style="display:inline">
                                        &nbsp;<i class="fa fa-edit" data-toggle="tooltip" title="Xem và Cập nhật"></i>
                                    </a>
                                    &nbsp;
                                    @using (Html.BeginForm("Delete", "Profile", FormMethod.Post, new { id = "DeleteForm" + item.ProfileID, style = "display: inline;" }))
                                    {
                                        <input type="hidden" name="profileID" value="@item.ProfileID" />
                                        <button type="button" data-id="DeleteForm@(item.ProfileID)" data-message="Bạn thật sự muốn xóa?" class="btn btn-red btn-sm confirmButton"><i class="fa fa-trash-o"></i>&nbsp;</button>
                                    }
                                    @*<button type="button" data-target="#ModalDeleteConfirm" data-id="@item.ProfileID" data-toggle="modal" class="open-ModalDisapproveConfirm btn btn-danger" style="display:inline">
                                    &nbsp;<i class="fa fa-trash-o" data-toggle="tooltip" title="Xóa"></i>
                                </button>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>