@{
    ViewBag.Title = "Cập nhật hồ sơ";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

@model JobSearchingSystem.Models.ProUpdateViewModel

  <!--LOADING SCRIPTS FOR PAGE-->
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-colorpicker/css/colorpicker.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-datepicker/css/datepicker.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-clockface/css/clockface.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-switch/css/bootstrap-switch.css">
<link rel="stylesheet" href="~/Content/css/bootstrap-tagsinput.css">
<link rel="stylesheet" href="~/Content/css/jquery.tag-editor.css">



<script src="~/Content/js/jquery.caret.min.js"></script>
<script src="~/Content/js/jquery.tag-editor.js"></script>
<script src="~/Content/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/vendors/moment/moment.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/vendors/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="~/Content/vendors/bootstrap-clockface/js/clockface.js"></script>
<script src="~/Content/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/Content/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="~/Content/vendors/jquery-maskedinput/jquery-maskedinput.js"></script>
<script src="~/Content/js/form-components.js"></script>
 @*<!--LOADING SCRIPTS FOR PAGE-->
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-colorpicker/css/colorpicker.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-datepicker/css/datepicker.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker-bs3.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-clockface/css/clockface.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/bootstrap-switch/css/bootstrap-switch.css">
<link type="text/css" rel="stylesheet" href="~/Content/vendors/iCheck/skins/all.css">
 <!--LOADING SCRIPTS FOR PAGE-->
<script src="~/Content/vendors/iCheck/icheck.min.js"></script>
<script src="~/Content/vendors/iCheck/custom.min.js"></script>
<script src="~/Content/js/ui-checkbox-radio.js"></script>
<script src="~/Content/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="~/Content/vendors/moment/moment.js"></script>
<script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Content/vendors/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="~/Content/vendors/bootstrap-clockface/js/clockface.js"></script>
<script src="~/Content/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="~/Content/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="~/Content/vendors/jquery-maskedinput/jquery-maskedinput.js"></script>
<script src="~/Content/js/form-components.js"></script>

<script src="~/Content/js/jquery-1.10.2.min.js"></script>*@
<script>
    $(document).ready(function () {
        /*$('.iCheck-helper').click(function () {
            var parent = $(this).parent().get(0);
            var checkboxId = parent.getElementsByTagName('input')[0].id;
            if (checkboxId === "expCheckBox") {
                document.getElementById("inputExperienceYear").disabled = !document.getElementById("expCheckBox").checked;
            }
           
        });*/

        $('input[type="checkbox"][id="IsVisibleCheckbox"]').on('ifChecked', function (event) {
            $('#IsVisible').val('true');
        });
        $('input[type="checkbox"][id="IsVisibleCheckbox"]').on('ifUnchecked', function (event) {
            $('#IsVisible').val('false');
        });

        $('input[type="checkbox"][id="expCheckBox"]').on('ifChecked', function (event) {
            $('#inputExperienceYear').prop('disabled', true);
            $('input[type="hidden"][name="YearOfExperience"]').val("0");
        });
        $('input[type="checkbox"][id="expCheckBox"]').on('ifUnchecked', function (event) {
            $('#inputExperienceYear').prop('disabled', false);
            $('input[type="hidden"][name="YearOfExperience"]').val($('#inputExperienceYear').val());
        });
        $('#inputExperienceYear').change(function () {
            $('input[type="hidden"][name="YearOfExperience"]').val($('#inputExperienceYear').val());
        });

        $('input[type="checkbox"][id="expectedSalaryCheckBox"]').on('ifChecked', function (event) {
            $('#inputExpectedSalary').prop('disabled', true);
            $('input[type="hidden"][name="ExpectedSalary"]').val("0");
        });
        $('input[type="checkbox"][id="expectedSalaryCheckBox"]').on('ifUnchecked', function (event) {
            $('#inputExpectedSalary').prop('disabled', false);
            $('input[type="hidden"][name="ExpectedSalary"]').val($('#inputExpectedSalary').val());
        });
        $('#inputExpectedSalary').change(function () {
            $('input[type="hidden"][name="ExpectedSalary"]').val($('#inputExpectedSalary').val());
        });

        $('#inputCommonInfoName').change(function () {
            $('#CommonInfoName').val($('#inputCommonInfoName').val());
        });

        $('#ToggleEmploymentHistory').click(function () {
            var status = $('#EmploymentHistoryStatus').val();
            if (status == "false") {
                // Show
                $('#EmploymentHistoryDiv').slideDown(300);
                $('#EmploymentHistoryDiv').find('[data-val]').attr("data-val", "true");
                $('#EmploymentHistoryStatus').val("true");
                $('#ToggleEmploymentHistory').removeClass('btn-success').addClass('btn-danger');
                $('#ToggleEmploymentHistory').html('Ẩn kinh nghiệm làm việc <i class="fa fa-minus"></i>');
                $('[name="EducationHistoryID"]').val("-1");
            }
            else {
                // Hide
                $('#EmploymentHistoryDiv').slideUp(300);
                $('#EmploymentHistoryDiv').find('[data-val]').attr("data-val", "false");
                $('#EmploymentHistoryStatus').val("false");
                $('#ToggleEmploymentHistory').removeClass('btn-danger').addClass('btn-success');
                $('#ToggleEmploymentHistory').html('Thêm kinh nghiệm làm việc <i class="fa fa-plus"></i>');
                $('[name="EducationHistoryID"]').val("-2");
            }
        });

        $('#ToggleEducationHistory').click(function () {
            var status = $('#EducationHistoryStatus').val();
            if (status == "false") {
                // Show
                $('#EducationHistoryDiv').slideDown(300);
                $('#EducationHistoryDiv').find('[data-val]').attr("data-val", "true");
                $('#EducationHistoryStatus').val("true");
                $('#ToggleEducationHistory').removeClass('btn-success').addClass('btn-danger');
                $('#ToggleEducationHistory').html('Ẩn học vấn <i class="fa fa-minus"></i>');
                $('[name="ReferencePersonID"]').val("-1");
            }
            else {
                // Hide
                $('#EducationHistoryDiv').slideUp(300);
                $('#EducationHistoryDiv').find('[data-val]').attr("data-val", "false");
                $('#EducationHistoryStatus').val("false");
                $('#ToggleEducationHistory').removeClass('btn-danger').addClass('btn-success');
                $('#ToggleEducationHistory').html('Thêm học vấn <i class="fa fa-plus"></i>');
                $('[name="ReferencePersonID"]').val("-2");
            }
        });

        $('#ToggleReferencePerson').click(function () {
            var status = $('#ReferencePersonStatus').val();
            if (status == "false") {
                // Show
                $('#ReferencePersonDiv').slideDown(300);
                $('#ReferencePersonDiv').find('[data-val]').attr("data-val", "true");
                $('#ReferencePersonStatus').val("true");
                $('#ToggleReferencePerson').removeClass('btn-success').addClass('btn-danger');
                $('#ToggleReferencePerson').html('Ẩn thông tin tham khảo <i class="fa fa-minus"></i>');
                $('[name="EducationHistoryID"]').val("-1");
            }
            else {
                // Hide
                $('#ReferencePersonDiv').slideUp(300);
                $('#ReferencePersonDiv').find('[data-val]').attr("data-val", "false");
                $('#ReferencePersonStatus').val("false");
                $('#ToggleReferencePerson').removeClass('btn-danger').addClass('btn-success');
                $('#ToggleReferencePerson').html('Thêm thông tin tham khảo <i class="fa fa-plus"></i>');
                $('[name="EducationHistoryID"]').val("-2");
            }
        });

        if ($('[name="EmploymentHistoryID"]').val() == -1) {
            $('#EmploymentHistoryDiv').slideUp();
            $('#EmploymentHistoryDiv').find('[data-val]').attr("data-val", "false");
        }
        if ($('[name="EducationHistoryID"]').val() == -1) {
            $('#EducationHistoryDiv').slideUp();
            $('#EducationHistoryDiv').find('[data-val]').attr("data-val", "false");
        }
        if ($('[name="ReferencePersonID"]').val() == -1) {
            $('#ReferencePersonDiv').slideUp();
            $('#ReferencePersonDiv').find('[data-val]').attr("data-val", "false");
        }
    });

    function SearchText(inputID) {
        var userList;
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Job/AutoCompleteSkill",
            data: "{'skill':'" + document.getElementById(inputID).value + "'}",
            dataType: "json",
            success: function (data) {
                skillList = data;
                //$('#' + inputID).autocomplete({
                //    source: skillList
                //});

                if ($('#ownSkills').val().length > 0) {
                    var ownSkills = $("#ownSkills").val().split(',');


                    $('#' + inputID).tagEditor({
                        autocomplete: {
                            delay: 0, // show suggestions immediately
                            position: { collision: 'flip' }, // automatic menu position up/down
                            source: skillList
                        },
                        initialTags: ownSkills,
                        forceLowercase: false,
                        placeholder: 'Kỹ năng của bạn...',
                        delimiter: ',', /* space and comma */
                        onChange: function (field, editor, tags) {

                        }
                    });
                }
                else {
                    $('#' + inputID).tagEditor({
                        autocomplete: {
                            delay: 0, // show suggestions immediately
                            position: { collision: 'flip' }, // automatic menu position up/down
                            source: skillList
                        },
                        forceLowercase: false,
                        placeholder: 'Kỹ năng của bạn...',
                        delimiter: ',', /* space and comma */
                        onChange: function (field, editor, tags) {

                        }
                    });
                }
                
            },


            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function getTags() {
        document.getElementById("skillList").value = $('#skill').tagEditor('getTags')[0].tags;

    }

    function beforeSubmit() {
        getTags();
        $('#updateForm').submit();
    }

    $(document).ready(function () {
        SearchText("skill");
     
    });
    /*function enableDisable(bEnable, textBoxID) {
        document.getElementById(textBoxID).disabled = !bEnable;
    }
    function AddLanguage() {
        var div = document.getElementById("languagebox");
        var input = document.createElement("input");
        input.type = "text";
        input.name = "pats[]";
        div.innerHTML = div.innerHTML + ' <div class="col-md-6">'
                                                + '<div class="form-group">'
                                                  + ''

                                                   + ' <div class="col-md-9" style="margin-left: 132px">'
                                                     + '   <select name="language1" id="language1" class="form-control" tabindex="-1" data-placeholder="Ví dụ: Vietnamese" title="">'
                                                          + '  <option value="0" selected="">Vui lòng chọn...</option>'
                                                          + '  <option value="1">Arabic</option>'

                                                        + '</select>'
                                                   + ' </div>'
                                               + ' </div>'
                                           + ' </div>'
                                            + '<div class="col-md-6">'
                                              + '  <div class="form-group">'
                                                  + '  <label for="selCountry" class="col-md-3 control-label">Trình độ</label>'

                                                  + '  <div class="col-md-9">'
                                                     + '   <select name="languageProficiency1" id="languageProficiency1" class="form-control" data-placeholder="Ví dụ: Bản ngữ" tabindex="-1" title="">'
                                                         + '   <option value="0">Vui lòng chọn...</option>'
                                                         + '   <option value="1">Sơ cấp</option>'
                                                         + '   <option value="2">Trung cấp</option>'
                                                         + '   <option value="3">Cao cấp</option>'
                                                         + '   <option value="4">Bản ngữ</option>'
                                                       + ' </select>'
                                                  + '  </div>'
                                               + ' </div>'
                                           + ' </div>';
    }*/
    
</script>

<div class="page-content" style="padding: 20px 100px 20px 100px; background-color: #dedede; ">

    <br />
@using (Html.BeginForm("Update", "Profile", FormMethod.Post, new { id = "updateForm" }))
{
    <input type="hidden" id="ButtonName" name="ButtonName" value="@ViewBag.ButtonName" />

    <!--Thông tin cá nhân div-->
    <div class="col-lg-12 panel panel-default">
        <br />

        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                        <div class="panel-heading">Thông tin cá nhân</div>
                        <div class="panel-body pan form-horizontal">
                            <div class="form-body pal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName" class="col-md-6 control-label">Họ và tên<span class="require">*</span></label>
                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(s => s.contactForm.FullName, new { @class = "form-control", Value = Model.contact.FullName, id = "inputName", Name = "FullName" })
                                                    @Html.ValidationMessageFor(s => s.contactForm.FullName, "", new { @class = "ErrorMessage", data_valmsg_for = "FullName" })
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-6 control-label">Giới tính<span class="require">*</span></label>
                                                <div class="col-md-6">
                                                    <div class="radio">
                                                        @if (@Model.contact.Gender == true)
                                                        {
                                                            <label class="">
                                                                <input id="minimal-radio-1" checked="checked" tabindex="7" type="radio" name="Gender" value="true" />
                                                                Nam
                                                            </label><label class="">
                                                                <input id="minimal-radio-1" tabindex="7" type="radio" name="Gender" value="false" />
                                                                Nữ
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label class="">
                                                                <input id="minimal-radio-1" tabindex="7" type="radio" name="Gender" value="true" />
                                                                Nam
                                                            </label><label class="">
                                                                <input id="minimal-radio-1" checked="checked" tabindex="7" type="radio" name="Gender" value="false" />
                                                                Nữ
                                                            </label>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputFirstName" class="col-md-6 control-label">Tình trạng hôn nhân<span class="require">*</span></label>

                                                <div class="col-md-6">
                                                    <select id="selGender" class="form-control" name="MaritalStatus">
                                                        @if (@Model.contact.MaritalStatus == true)
                                                        {
                                                            <option value="false">Độc thân</option>
                                                            <option value="true" selected>Đã kết hôn</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="false" selected>Độc thân</option>
                                                            <option value="true">Đã kết hôn</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-6 control-label">Quốc gia<span class="require">*</span></label>

                                                <div class="col-md-6">
                                                    <select id="selGender" class="form-control" name="Nationality">
                                                        @if (@Model.contact.Nationality == true)
                                                        {
                                                            <option value="true" selected>Người Việt Nam</option>
                                                            <option value="false">Người nước ngoài</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="true">Người Việt Nam</option>
                                                            <option value="false" selected>Người nước ngoài</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputAddress" class="col-md-6 control-label">Địa chỉ</label>
                                                <div class="col-md-6"><input id="inputAddress" name="Address" value="@Model.contact.Address" type="text" placeholder="" class="form-control"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPhone" class="col-md-6 control-label">Điện thoại<span class="require">*</span></label>

                                                <div class="col-md-6">
                                                    @Html.TextBoxFor(s => s.contactForm.PhoneNumber, new { @class = "form-control", Value = Model.contact.PhoneNumber, id = "inputPhone", Name = "PhoneNumber" })
                                                    @Html.ValidationMessageFor(s => s.contactForm.PhoneNumber, "", new { @class = "ErrorMessage", data_valmsg_for = "PhoneNumber" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputBirthday" class="col-md-6 control-label">Ngày sinh<span class="require">*</span></label>

                                                <div class="col-md-6"><input id="inputBirthday" name="DateofBirth" value="@Model.contact.DateofBirth.ToString("dd/MM/yyyy")" type="text" data-date-format="dd/mm/yyyy" placeholder="" class="datepicker-default form-control"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputAddress" class="col-md-6 control-label">Quận/Huyện</label>
                                                <div class="col-md-6"><input id="inputDistrict" name="District" value="@Model.contact.District" type="text" placeholder="" class="form-control"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputLastName" class="col-md-6 control-label">Tỉnh/Thành Phố<span class="require">*</span></label>

                                                <div class="col-md-6">
                                                    <select class="form-control" name="CityID" id="city" data-val="true" data-val-range="Hãy chọn Tỉnh/Thành phố" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (Model.cities != null)
                                                        {
                                                            for (int count = 0; count < Model.cities.Count(); count++)
                                                            {
                                                                if (@Model.cities.ElementAt(count).CityID == Model.contact.CityID)
                                                                {
                                                                    <option value="@Model.cities.ElementAt(count).CityID" selected>
                                                                        @Model.cities.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.cities.ElementAt(count).CityID">
                                                                        @Model.cities.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="CityID" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputRecruiterShow" class="col-md-6 control-label">Hiện với nhà tuyển dụng<span class="require">*</span></label>
                                                <div class="col-md-6">
                                                    @if (@Model.contact.IsVisible == true)
                                                    {
                                                        <input id="IsVisible" name="IsVisible" type="hidden" value="true" />
                                                        <label class="">
                                                            <input type="checkbox" checked="checked" id="IsVisibleCheckbox" />
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <input id="IsVisible" name="IsVisible" type="hidden" value="false" />
                                                        <label class="">
                                                            <input type="checkbox" id="IsVisibleCheckbox" />
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <label for="selLastCompany" style=" margin-left: 8%;" class="col-md-2 control-label">Kỹ năng<span class="require">*</span></label>

                                                <input type="hidden" id="ownSkills" value="@Model.ownSkills" />
                                                <div class="col-md-9">
                                                    <input id="skill" name="skill" type="text" placeholder="" class="form-control" autocomplete="on" />
                                                    <input type="hidden" id="skillList" name="skillList" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br />
    <!--Thông tin chung div-->
    <div class="col-lg-12 panel panel-default">
        <br />

        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                        <div class="panel-heading">Thông tin chung</div>
                        <div class="panel-body pan form-horizontal">
                            <div class="form-body pal">
                                    <input type="hidden" name="ProfileID" value="@Model.commonInfoItem.profile.ProfileID" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputName" class="col-md-5 control-label">Tên hồ sơ <span class="require">*</span></label>
                                                
                                                @if (!String.IsNullOrEmpty(Model.commonInfoItem.profile.Name))
                                                {
                                                    <div class="col-md-7">
                                                        <input id="CommonInfoName" name="Name" type="hidden" value="@Model.commonInfoItem.profile.Name" />
                                                        <input id="inputCommonInfoName" name="inputCommonInfoName" disabled value="@Model.commonInfoItem.profile.Name" data-val="true" data-val-length="Tên hồ sơ không được vượt quá 50 kí tự." data-val-length-max="50" data-val-required="Tên hồ sơ không được trống." type="text" placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputCommonInfoName" data-valmsg-replace="true"></span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-7">
                                                        <input id="CommonInfoName" name="Name" type="hidden" />
                                                        <input id="inputCommonInfoName" name="inputCommonInfoName" value="" data-val="true" data-val-length="Tên hồ sơ không được vượt quá 50 kí tự." data-val-length-max="50" data-val-required="Tên hồ sơ không được trống." type="text" placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputCommonInfoName" data-valmsg-replace="true"></span>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputAddress1" class="col-md-5 control-label">Số năm kinh nghiệm <span class="require">*</span></label>

                                                @if (Model.commonInfoItem.profile.YearOfExperience == 0)
                                                {
                                                    <div class="col-md-3">
                                                        <input type="hidden" name="YearOfExperience" />
                                                        <input id="inputExperienceYear" name="inputExperienceYear" value="" disabled="disabled" type="text" data-val="true" data-val-number="Số năm kinh nghiệm phải nhập định dạng số." data-val-required="Số năm kinh nghiệm không được trống." placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputExperienceYear" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="checkbox col-md-4">
                                                        <label class="">
                                                            <input type="checkbox" checked="checked" id="expCheckBox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">&nbsp;
                                                            Chưa có kinh nghiệm
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-3">
                                                        <input type="hidden" name="YearOfExperience" value="@Model.commonInfoItem.profile.YearOfExperience" />
                                                        <input id="inputExperienceYear" name="inputExperienceYear" value="@Model.commonInfoItem.profile.YearOfExperience" type="text" data-val="true" data-val-number="Số năm kinh nghiệm phải nhập định dạng số." data-val-required="Số năm kinh nghiệm không được trống." placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputExperienceYear" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="checkbox col-md-4">
                                                        <label class="">
                                                            <input type="checkbox" id="expCheckBox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">&nbsp;
                                                            Mới tốt nghiệp chưa có kinh nghiệm
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputStates" class="col-md-5 control-label">Bằng cấp cao nhất<span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="HighestSchoolLevel_ID" data-val="true" data-val-range="Hãy chọn Bằng cấp cao nhất" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (@Model.schoolLevels != null)
                                                        {
                                                            for (int count = 0; count < Model.schoolLevels.Count(); count++)
                                                            {
                                                                if (@Model.schoolLevels.ElementAt(count).SchoolLevel_ID == @Model.commonInfoItem.profile.HighestSchoolLevel_ID)
                                                                {
                                                                    <option selected value="@Model.schoolLevels.ElementAt(count).SchoolLevel_ID">
                                                                        @Model.schoolLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.schoolLevels.ElementAt(count).SchoolLevel_ID">
                                                                        @Model.schoolLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="HighestSchoolLevel_ID" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="languagebox">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputPostCode" class="col-md-5 control-label">Ngoại ngữ <span class="require">*</span></label>

                                                    <div class="col-md-7">
                                                        <select class="form-control" name="languageID" data-val="true" data-val-range="Hãy chọn Ngoại ngữ" data-val-range-max="2147483647" data-val-range-min="0">
                                                            <option value="-1">Vui lòng chọn...</option>
                                                            @if (Model.languages != null)
                                                            {
                                                                for (int count = 0; count < Model.languages.Count(); count++)
                                                                {
                                                                    if (@Model.languages.ElementAt(count).LanguageID == @Model.commonInfoItem.profile.LanguageID)
                                                                    {
                                                                        <option selected value="@Model.languages.ElementAt(count).LanguageID">
                                                                            @Model.languages.ElementAt(count).Name
                                                                        </option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Model.languages.ElementAt(count).LanguageID">
                                                                            @Model.languages.ElementAt(count).Name
                                                                        </option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="languageID" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="selCountry" class="col-md-5 control-label">Trình độ <span class="require">*</span></label>

                                                    <div class="col-md-7">
                                                        <select class="form-control" name="level_ID" data-val="true" data-val-range="Hãy chọn Trình độ" data-val-range-max="2147483647" data-val-range-min="0">
                                                            <option value="-1">Vui lòng chọn...</option>
                                                            @if (Model.levels != null)
                                                            {
                                                                for (int count = 0; count < Model.levels.Count(); count++)
                                                                {
                                                                    if (@Model.levels.ElementAt(count).Level_ID == @Model.commonInfoItem.profile.Level_ID)
                                                                    {
                                                                        <option selected value="@Model.levels.ElementAt(count).Level_ID">
                                                                            @Model.levels.ElementAt(count).Name
                                                                        </option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@Model.levels.ElementAt(count).Level_ID">
                                                                            @Model.levels.ElementAt(count).Name
                                                                        </option>
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="level_ID" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-3">

                                                </div>
                                                <div class="col-md-6">

                                                    <a href="javascript:void(do_something())" onclick="AddLanguage();" class="btn btn-success">
                                                        Thêm mới
                                                        &nbsp;<i class="fa fa-plus"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Công ty gần đây nhất</label>

                                                <div class="col-md-7">
                                                    <input id="lastCompany" value="@Model.commonInfoItem.profile.MostRecentCompany" name="MostRecentCompany" type="text" placeholder="Ví dụ: FPT Software" class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Vị trí gần đây nhất</label>

                                                <div class="col-md-7">
                                                    <input id="lastCompany" value="@Model.commonInfoItem.profile.MostRecentPosition" name="MostRecentPosition" type="text" placeholder="Ví dụ: Chuyên viên lập trình Android" class="form-control">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Cấp bậc hiện tại</label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="CurrentJobLevel_ID">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (Model.jobLevels != null)
                                                        {
                                                            for (int count = 0; count < Model.jobLevels.Count(); count++)
                                                            {
                                                                if (@Model.jobLevels.ElementAt(count).JobLevel_ID == @Model.commonInfoItem.profile.CurrentJobLevel_ID)
                                                                {
                                                                    <option selected value="@Model.jobLevels.ElementAt(count).JobLevel_ID">
                                                                        @Model.jobLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.jobLevels.ElementAt(count).JobLevel_ID">
                                                                        @Model.jobLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Vị trí mong muốn<span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.commonInfoForm.ExpectedPosition, new { @class = "form-control", Value = Model.commonInfoItem.profile.ExpectedPosition, Name = "ExpectedPosition", placeholder = "Ví dụ: Chủ tịch hội đồng quản trị" })
                                                    @Html.ValidationMessageFor(s => s.commonInfoForm.ExpectedPosition, "", new { @class = "ErrorMessage", data_valmsg_for = "ExpectedPosition" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Cấp bậc mong muốn<span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="ExpectedJobLevel_ID" data-val="true" data-val-range="Hãy chọn Cấp bậc mong muốn" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (Model.jobLevels != null)
                                                        {
                                                            for (int count = 0; count < Model.jobLevels.Count(); count++)
                                                            {
                                                                if (@Model.jobLevels.ElementAt(count).JobLevel_ID == @Model.commonInfoItem.profile.ExpectedJobLevel_ID)
                                                                {
                                                                    <option selected value="@Model.jobLevels.ElementAt(count).JobLevel_ID">
                                                                        @Model.jobLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.jobLevels.ElementAt(count).JobLevel_ID">
                                                                        @Model.jobLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="ExpectedJobLevel_ID" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Nơi làm việc<span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="expectedCity" data-val="true" data-val-range="Hãy chọn Nơi làm việc" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (Model.cities != null)
                                                        {
                                                            for (int count = 0; count < Model.cities.Count(); count++)
                                                            {
                                                                if (@Model.cities.ElementAt(count).CityID == @Model.commonInfoItem.expectedCity)
                                                                {
                                                                    <option selected value="@Model.cities.ElementAt(count).CityID">
                                                                        @Model.cities.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.cities.ElementAt(count).CityID">
                                                                        @Model.cities.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="expectedCity" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Nghành nghề<span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="categoryID" data-val="true" data-val-range="Hãy chọn Nghành nghề" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (Model.categories != null)
                                                        {
                                                            for (int count = 0; count < Model.categories.Count(); count++)
                                                            {
                                                                if (@Model.categories.ElementAt(count).CategoryID == @Model.commonInfoItem.categoryID)
                                                                {
                                                                    <option selected value="@Model.categories.ElementAt(count).CategoryID">
                                                                        @Model.categories.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.categories.ElementAt(count).CategoryID">
                                                                        @Model.categories.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="categoryID" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="selLastCompany" class="col-md-5 control-label">Mức lương mong muốn ($)<span class="require">*</span></label>

                                                @if (@Model.commonInfoItem.profile.ExpectedSalary == 0)
                                                {
                                                    <div class="col-md-4">
                                                        <input type="hidden" name="ExpectedSalary" />
                                                        <input id="inputExpectedSalary" name="inputExpectedSalary" value="" disabled="disabled" type="text" data-val="true" data-val-number="Mức lương mong muốn phải nhập định dạng số." data-val-required="Mức lương mong muốn không được trống." placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputExpectedSalary" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="checkbox col-md-3">
                                                        <label class="">
                                                            <input type="checkbox" checked="checked" id="expectedSalaryCheckBox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">&nbsp;
                                                            Thương lượng
                                                        </label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4">
                                                        <input type="hidden" name="ExpectedSalary" value="@Model.commonInfoItem.profile.ExpectedSalary" />
                                                        <input id="inputExpectedSalary" name="inputExpectedSalary" value="@Model.commonInfoItem.profile.ExpectedSalary.ToString(" 0")" type="text" data-val="true" data-val-number="Mức lương mong muốn phải nhập định dạng số." data-val-required="Mức lương mong muốn không được trống." placeholder="" class="form-control">
                                                        <span class="field-validation-valid ErrorMessage" data-valmsg-for="inputExpectedSalary" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="checkbox col-md-3">
                                                        <label class="">
                                                            <input type="checkbox" id="expectedSalaryCheckBox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">&nbsp;
                                                            Thương lượng
                                                        </label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>          
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12"></div>
                                                <label for="inputObjective" class="control-label" style="margin-left: 15px">Giới Thiệu Bản Thân Và Miêu Tả Mục Tiêu Nghề Nghiệp Của Bạn <span class="require">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div><textarea name="Objectives" rows="6" cols="50" class="form-control" data-val="true" data-val-required="Nội dung này không được trống.">@Model.commonInfoItem.profile.Objectives</textarea></div>
                                            <span class="field-validation-valid ErrorMessage" data-valmsg-for="Objectives" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.employmentHistory.EmploymentHistoryID == -1)
    {
        <input type="hidden" id="EmploymentHistoryStatus" value="false" />
        <button id="ToggleEmploymentHistory" class="btn btn-success" style="margin-bottom:20px">
            Thêm kinh nghiệm làm việc <i class="fa fa-plus"></i>
        </button>
    }

    <br />
    <!--Kinh nghiệm làm việc div-->
    <div id="EmploymentHistoryDiv" class="col-lg-12 panel panel-default">
        <br />

        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                        <div class="panel-heading">Kinh nghiệm làm việc</div>
                        <div class="panel-body pan form-horizontal">
                            <div class="form-body pal">
                                    <input type="hidden" name="EmploymentHistoryID" value="@Model.employmentHistory.EmploymentHistoryID" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                                <label for="inputPosition" class="col-md-5 control-label">Chức danh <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.employmentHistoryForm.Position, new { @class = "form-control", Value = Model.employmentHistory.Position, Name = "Position" })
                                                    @Html.ValidationMessageFor(s => s.employmentHistoryForm.Position, "", new { @class = "ErrorMessage", data_valmsg_for = "Position" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Công ty <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.employmentHistoryForm.Company, new { @class = "form-control", Value = Model.employmentHistory.Company, Name = "Company" })
                                                    @Html.ValidationMessageFor(s => s.employmentHistoryForm.Company, "", new { @class = "ErrorMessage", data_valmsg_for = "Company" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPosition" class="col-md-5 control-label">Thời gian công tác <span class="require">*</span></label>

                                                <div class="col-md-3">
                                                    <input id="WorkingTime" name="WorkingTime" value="@Model.employmentHistory.WorkingTime" type="text" data-val="true" data-val-number="Thời gian công tác phải nhập định dạng số." data-val-required="Thời gian công tác không được trống." placeholder="" class="form-control">
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="WorkingTime" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPosition" class="col-md-5 control-label">Mô tả</label>
                                                <div class="col-md-7"><textarea rows="4" cols="50" name="Description" class="form-control" style="width:300%">@Model.employmentHistory.Description</textarea></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    if (Model.educationHistory.EducationHistoryID == -1)
    {
        <input type="hidden" id="EducationHistoryStatus" value="false" />
        <button id="ToggleEducationHistory" class="btn btn-success" style="margin-bottom:20px">
            Thêm học vấn <i class="fa fa-plus"></i>
        </button>
    }

    <br />
    <!--Học vấn div-->
    <div id="EducationHistoryDiv" class="col-lg-12 panel panel-default">
        <br />

        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                        <div class="panel-heading">Học vấn</div>
                        <div class="panel-body pan form-horizontal">
                            <div class="form-body pal">
                                    <input type="hidden" name="EducationHistoryID" value="@Model.educationHistory.EducationHistoryID" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Chuyên ngành <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.educationHistoryForm.Subject, new { @class = "form-control", Value = Model.educationHistory.Subject, Name = "Subject" })
                                                    @Html.ValidationMessageFor(s => s.educationHistoryForm.Subject, "", new { @class = "ErrorMessage", data_valmsg_for = "Subject" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Trường <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.educationHistoryForm.School, new { @class = "form-control", Value = Model.educationHistory.School, Name = "School" })
                                                    @Html.ValidationMessageFor(s => s.educationHistoryForm.School, "", new { @class = "ErrorMessage", data_valmsg_for = "School" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputStates" class="col-md-5 control-label">Bằng cấp <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <select class="form-control" name="SchoolLevel_ID" data-val="true" data-val-range="Hãy chọn Bằng cấp" data-val-range-max="2147483647" data-val-range-min="0">
                                                        <option value="-1">Vui lòng chọn...</option>
                                                        @if (@Model.schoolLevels != null)
                                                        {
                                                            for (int count = 0; count < Model.schoolLevels.Count(); count++)
                                                            {
                                                                if (@Model.schoolLevels.ElementAt(count).SchoolLevel_ID == @Model.educationHistory.SchoolLevel_ID)
                                                                {
                                                                    <option selected value="@Model.schoolLevels.ElementAt(count).SchoolLevel_ID">
                                                                        @Model.schoolLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@Model.schoolLevels.ElementAt(count).SchoolLevel_ID">
                                                                        @Model.schoolLevels.ElementAt(count).Name
                                                                    </option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="SchoolLevel_ID" data-valmsg-replace="true"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPosition" class="col-md-5 control-label">Thành tựu</label>
                                                <div class="col-md-7"><textarea rows="4" cols="50" name="Achievement" class="form-control" style="width:300%">@Model.educationHistory.Achievement</textarea></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    if (Model.referencePerson.ReferencePersonID == -1)
    {
        <input type="hidden" id="ReferencePersonStatus" value="false" />
        <button id="ToggleReferencePerson" class="btn btn-success" style="margin-bottom:20px">
            Thêm thông tin tham khảo <i class="fa fa-plus"></i>
        </button>
    }

    <br />
    <!--Thông tin tham khảo div-->
    <div id="ReferencePersonDiv" class="col-lg-12 panel panel-default">
        <br />

        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-grey">
                        <div class="panel-heading">Thông tin tham khảo</div>
                        <div class="panel-body pan form-horizontal">
                            <div class="form-body pal">
                                    <input type="hidden" name="ReferencePersonID" value="@Model.referencePerson.ReferencePersonID" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                                <label for="inputPosition" class="col-md-5 control-label">Họ tên <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.referencePersonForm.ReferencePersonName, new { @class = "form-control", Value = Model.referencePerson.ReferencePersonName, Name = "ReferencePersonName" })
                                                    @Html.ValidationMessageFor(s => s.referencePersonForm.ReferencePersonName, "", new { @class = "ErrorMessage", data_valmsg_for = "ReferencePersonName" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Chức danh <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.referencePersonForm.ReferencePersonPosition, new { @class = "form-control", Value = Model.referencePerson.ReferencePersonPosition, Name = "ReferencePersonPosition" })
                                                    @Html.ValidationMessageFor(s => s.referencePersonForm.ReferencePersonPosition, "", new { @class = "ErrorMessage", data_valmsg_for = "ReferencePersonPosition" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Công ty <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.referencePersonForm.ReferencePersonCompany, new { @class = "form-control", Value = Model.referencePerson.ReferencePersonCompany, Name = "ReferencePersonCompany", style = "width:300%" })
                                                    @Html.ValidationMessageFor(s => s.referencePersonForm.ReferencePersonCompany, "", new { @class = "ErrorMessage", data_valmsg_for = "ReferencePersonCompany" })
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                <label for="inputPosition" class="col-md-5 control-label">Email <span class="require">*</span></label>

                                                <div class="col-md-7">
                                                    <input type="text" data-val="true" data-val-email="Email không đúng định dạng." data-val-length="Độ dài Email không được vượt quá 100." data-val-length-max="100" data-val-required="Email không được trống." placeholder="vd: abc@gmail.com" name="EmailAddress" class="form-control" value="@Model.referencePerson.EmailAddress">
                                                    <span class="field-validation-valid ErrorMessage" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="inputPhone" class="col-md-5 control-label">Điện thoại</label>

                                                <div class="col-md-7">
                                                    @Html.TextBoxFor(s => s.referencePersonForm.ReferencePersonPhoneNumber, new { @class = "form-control", Value = Model.referencePerson.ReferencePersonPhoneNumber, id = "inputPhone", Name = "ReferencePersonPhoneNumber" })
                                                    @Html.ValidationMessageFor(s => s.referencePersonForm.ReferencePersonPhoneNumber, "", new { @class = "ErrorMessage", data_valmsg_for = "ReferencePersonPhoneNumber" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-12 panel panel-default">
        
        <div id="tab-two-columns-horizontal" class="tab-pane fade active in">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body pan form-horizontal">
                        <div class="form-body pal">
                            <!--Button-->
                            <div class="text-right">
                                <button type="button" onclick="beforeSubmit()" class="btn btn-success">@ViewBag.ButtonName</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>

