
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}
@model JobSearchingSystem.Models.AdvertiseViewModels

<link rel="stylesheet" href="~/Content/css/pricingreset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="~/Content/css/pricingstyle.css"> <!-- Resource style -->
<script>
    function commafy(num) {
        var str = num.toString().split('.');
        if (str[0].length >= 5) {
            str[0] = str[0].replace(/(\d)(?=(\d{3})+$)/g, '$1,');
        }
        if (str[1] && str[1].length >= 5) {
            str[1] = str[1].replace(/(\d{3})/g, '$1 ');
        }
        return str.join('.');
    }

    $(document).ready(function () {
        $(".cd-value").each(function () {
            var num = $(this).text();
            var num2 = commafy(num);
            $(this).text(num2);
        });
    });
</script>

<header class="cd-header">
    <h1 style="color:black">Gói quảng cáo</h1>
</header>

<div class="cd-pricing-container">
    <ul class="cd-pricing-list">
@foreach (var item in Model.advertiseList)
    {

        if ("Gold".Equals(item.Name))
        {
                 <li class="cd-popular">
            <header class="cd-pricing-header">
                <h2>@item.Name</h2>

                <div class="cd-price">
                    <span class="cd-currency">VND</span>
                    <span class="cd-value" style="font-size: -webkit-xxx-large">@item.Cost.ToString().TrimEnd('0').TrimEnd(',')</span>
                    <span class="cd-duration">tháng</span>
                </div>
            </header> <!-- .cd-pricing-header -->

            <div class="cd-pricing-body">
                <ul class="cd-pricing-features">
                    @*<li><em>512MB</em> Memory</li>
                    <li><em>3</em> Users</li>
                    <li><em>5</em> Websites</li>
                    <li><em>7</em> Domains</li>*@
                    <li><em>Vị trí :</em> @item.Description</li>
                    <li><em>24/7</em> Hỗ trợ</li>
                </ul>
            </div> <!-- .cd-pricing-body -->

            <footer class="cd-pricing-footer">
                <a class="cd-select" href="/Advertise/Invoice/?advertiseID=@item.AdvertiseID">Mua</a>
            </footer> <!-- .cd-pricing-footer -->
        </li>
        }else{
              <li>
                  <header class="cd-pricing-header">
                      <h2>@item.Name</h2>

                      <div class="cd-price">
                          <span class="cd-currency">VND</span>
                          <span class="cd-value" style="font-size: -webkit-xxx-large">@item.Cost.ToString().TrimEnd('0').TrimEnd(',')</span>
                          <span class="cd-duration">tháng</span>
                      </div>
                  </header> <!-- .cd-pricing-header -->

                  <div class="cd-pricing-body">
                      <ul class="cd-pricing-features">
                          @*<li><em>512MB</em> Memory</li>
                <li><em>3</em> Users</li>
                <li><em>5</em> Websites</li>
                <li><em>7</em> Domains</li>*@
                          <li><em>Vị trí :</em> @item.Description</li>
                          <li><em>24/7</em> Hỗ trợ</li>
                      </ul>
                  </div> <!-- .cd-pricing-body -->

                  <footer class="cd-pricing-footer">
                      <a class="cd-select" href="/Advertise/Invoice/?advertiseID=@item.AdvertiseID">Mua</a>
                  </footer> <!-- .cd-pricing-footer -->
        </li>
        }

        }
   
    </ul> <!-- .cd-pricing-list -->
</div> <!-- .cd-pricing-container -->




</div>
                    