@model JobSearchingSystem.Models.TopicItem

@{
    ViewBag.Title = "Xem bài viết";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

<script>
    $(document).ready(function () {
        document.getElementById("Topic_content").innerHTML = window.unescape("@Model.Topic_content")
    });
</script>
<div class="page-content" style="padding: 20px 100px 20px 100px">
    <div class="row">
        <div class="col-lg-12 blog-page">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 blog-articles">
                            <h1 style="text-align:center">@Model.Title</h1>
                            <br />
                            <div class="row">
                                <div class="col-md-4 blog-img">
                                    <img src="@Model.ImageUrl" style="width:150px; height:150px" class="img-responsive" />
                                    <ul class="list-inline blog-date">
                                        <li>
                                            <i class="fa fa-calendar fa-fw"></i>
                                            Ngày đăng: @Model.CreatedDate.ToString("dd/MM/yy")
                                        </li>
                                    </ul>
                                    <ul class="list-inline blog-date">
                                        @if (Model.UpdatedDate != null)
                                        {
                                            <li>
                                                <i class="fa fa-edit"></i>
                                                Lần chỉnh sửa cuối: @Model.UpdatedDate.Value.ToString("dd/MM/yy")
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div id="Topic_content">
                                    @Model.Topic_content
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>