@model JobSearchingSystem.Models.TopListViewModel

@{
    ViewBag.Title = "PendingList";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}

<script>
    $(document).on("click", ".open-ModalApproveConfirm", function (id) {
        var myTopicId = $(this).data('id');
        $("#ApproveTopicID").val(myTopicId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-ModalDisapproveConfirm", function (id) {
        var myTopicId = $(this).data('id');
        $("#DisapproveTopicID").val(myTopicId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

</script>

<div id="ModalApproveConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Duyệt bài viết</h4>
            </div>
            @using (Html.BeginForm("Approve", "Topic", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc cho phép đăng bài viết này?
                    </p>
                    <input type="hidden" name="topicID" id="ApproveTopicID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalDisapproveConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Từ chối đăng bài viết</h4>
            </div>
            @using (Html.BeginForm("Disapprove", "Topic", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc không cho phép đăng bài viết này?
                    </p>
                    <input type="hidden" name="topicID" id="DisapproveTopicID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="page-content" style="padding: 20px 100px 20px 200px">
    <div class="row">
        <div class="col-lg-12 blog-page">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-8 blog-articles">
                            <h1>Bài viết đã đăng</h1>
                            @foreach (var item in @Model.ListTopic)
                            {
                                <div class="row">
                                    <div class="col-md-4 blog-img">
                                        <img src="~/Content/img/TopicImage/frog.png" style="width:150px; height:150px" class="img-responsive">
                                        <ul class="list-inline blog-date">
                                            <li>
                                                <i class="fa fa-calendar fa-fw"></i>
                                                &nbsp;
                                                Ngày đăng: @item.CreatedDate.ToShortDateString()
                                            </li>
                                        </ul>
                                        <ul class="list-inline blog-date">
                                            @if (item.UpdatedDate != null)
                                            {
                                                <li>
                                                    <i class="fa fa-edit"></i>
                                                    Lần chỉnh sửa cuối: @item.UpdatedDate.Value.ToShortDateString()
                                                </li>
                                            }
                                        </ul>
                                        <ul class="list-inline blog-tags">
                                            <li>
                                                <i class="fa fa-tags fa-fw"></i>
                                                @if (item.IsApprove == true)
                                                {
                                                    <span class="label label-sm label-success">Đã duyệt</span>
                                                }
                                                else if (item.IsApprove == null)
                                                {
                                                    <span class="label label-sm label-info">Chờ duyệt</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-sm label-danger">Không được duyệt</span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 blog-article">
                                        <h3><a href="@Url.Action("Detail", new { id = item.TopicID })">@item.Title</a></h3>
                                        <p>
                                            @item.Topic_content
                                        </p>
                                        <a href="@Url.Action("Detail", new { id = item.TopicID })" class="btn btn-primary">
                                            Đọc thêm
                                            &nbsp;<i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                        <button type="button" data-target="#ModalApproveConfirm" data-id="@item.TopicID" data-toggle="modal" class="open-ModalApproveConfirm btn btn-success">
                                            Duyệt
                                            &nbsp;<i class="fa fa-thumbs-o-up"></i>
                                        </button>
                                        <button type="button" data-target="#ModalDisapproveConfirm" data-id="@item.TopicID" data-toggle="modal" class="open-ModalDisapproveConfirm btn btn-danger">
                                            Từ chối
                                            &nbsp;<i class="fa fa-thumbs-o-down"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 blog-sidebar">
                            <h3>Tìm kiếm</h3>
                            <div class="blog-search">
                                <div class="input-group">
                                    <input type="text" placeholder="Nhập từ khóa..." class="form-control" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


