@model IEnumerable<JobSearchingSystem.Models.JobItem>

@{
    ViewBag.Title = "ManageJob";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}


@*
    <style>
        .nav-pills li.active a {
            background-color: #F8FFBA !important;
        }

        a {
            color: #428bca !important;
        }
    </style>*@
<script>
    $(document).ready(function () {
        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifChecked', function (event) {
            $('input').iCheck('check');

        });
        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifUnchecked', function (event) {
            $('input').iCheck('uncheck');

        });

    });

    $(document).on("click", ".open-ModalDisplayConfirm", function (id) {
        var myJobId = $(this).data('id');
        $("#DisplayJobID").val(myJobId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-ModalHideConfirm", function (id) {
        var myJobId = $(this).data('id');
        $("#HideJobID").val(myJobId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

</script>
<script>
    function CheckJobPackage() {
        //$('input[name=radioName]:checked', '#myForm').val()
        var jobPackage = $('input[name=jobPackage]:checked').val();
        var jobID = $('input[name=jobPackage]:checked').attr('id');
        if (jobPackage == "Unlimited") {
            $('input[name=jobID]').val(jobID);
            $('#searchJobseeker').modal('show');
        } else if(jobPackage == null){
            swal("", "Vui lòng chọn công việc để tìm kiếm ứng viên phù hợp", "warning")
        } else {
            swal("", "Chỉ có công việc thuộc loại Unlimited mới có thể sử dụng chức năng này!", "error")
        }
    }
    function EncapsuleData() {
        var checkboxes = $(".icheckbox_minimal-grey").filter(".checked");
        if (checkboxes.length == 0)
        {
            swal("", "Vui lòng chọn độ phù hợp để tìm kiếm", "warning")
            return false;
        } else {
            return true;
        }
       
    }
</script>



<div id="searchJobseeker" tabindex="-1" role="dialog" aria-labelledby="modal-wide-width-label" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-wide-width">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 id="modal-header-primary-label" class="modal-title">Tìm kiếm ứng viên phù hợp</h4>
            </div>            
            @using (Html.BeginForm("SearchJobseekerMatching", "Job", FormMethod.Post, new { onsubmit = "return EncapsuleData();" }))
            {
                <input type="hidden" id="jobMatching" name="jobID" />
                <div class="modal-body">
                    <div class="compose-mail">
                        <div class="portlet box portlet-white">
                            <h3 style="font-weight: 700; margin-left: 18px;">Lựa chọn độ phù hợp của ứng viên muốn tìm kiếm</h3>
                            <br />

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="inputAddress1" class="col-md-4 control-label"><input type="checkbox" name="percentMatching" value="1" /></label>

                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-red btn-square" style="font-size: small">Độ phù hợp thấp 0%-29%</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="width: 60%;margin-left: 100px;">
                                    <div class="form-group">
                                        <label for="inputAddress1" class="col-md-1 control-label"><input type="checkbox" name="percentMatching" value="2" /></label>

                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-orange btn-square" style="font-size: small">Độ phù hợp trung bình 30%-69%</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" style=" margin-top: 2%;width: 50%;">
                                    <div class="form-group">
                                        <label for="inputAddress1" style="width: 15%;" class="col-md-3 control-label"><input type="checkbox" name="percentMatching" value="3" /></label>

                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-success btn-square" style="font-size: small;width: 160%;">Độ phù hợp cao 70%-100%</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Đóng</button>
                    <button type="submit" onsubmit="EncapsuleData()" class="btn btn-green"><i class="fa fa-check"></i> Tìm kiếm</button>
                </div>
            }
        </div>
    </div>
</div>


<div id="ModalDisplayConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Hiển thị công việc</h4>
            </div>
            @using (Html.BeginForm("Display", "Job", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc muốn hiển thị công việc này?
                    </p>
                    <input type="hidden" name="jobID" id="DisplayJobID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalHideConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Bỏ hiển thị công việc</h4>
            </div>
            @using (Html.BeginForm("Hide", "Job", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc không muốn tiếp tục hiển thị công việc này?
                    </p>
                    <input type="hidden" name="jobID" id="HideJobID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="page-content" style="padding: 20px 80px 20px 80px; background-color: #dedede; ">
    <div class="col-lg-9 panel panel-default">
        <h2 style="font-weight:600;text-align:center">Quản lý việc làm</h2>
        <br />
        <div class="row" style="margin-bottom: 10px">
            <div class="col-sm-3 col-md-3" style="width:23%">
                <a href="@Url.Action("Create","Job")" class="btn btn-blue btn-sm btn-block"><i class="fa fa-pencil"></i>&nbsp;Đăng việc làm mới</a>
            </div>
            <div class="col-sm-3 col-md-3" style="width:23%">
                <button onclick="CheckJobPackage()" type="button" class="btn btn-danger btn-sm btn-block"><i class="fa fa-search" style="margin-right:10px"></i>Tìm ứng viên</button>
            </div>
            <div class="mtl mbl"></div>
        </div>

        <div class="table-container">

            <table id="JSSTable" class="table table-hover table-striped table-bordered table-advanced tablesorter">
                <thead>
                    <tr>
                        <th width="7%"></th>
                        <th width="20%">Tiêu đề</th>
                        <th width="10%">Loại</th>
                        <th width="10%">Ngày đăng</th>
                        <th width="10%">Hết hạn</th>
                        <th width="3%">Ứng viên</th>
                        <th width="13%">Tình trạng</th>
                        <th width="37%">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        <tr>
                            <td><input id="@item.JobID" type="radio" name="jobPackage" value="@item.JobPackage" /></td>
                            <td>
                                @item.JobTitle
                            </td>
                            <td>
                                @item.JobPackage
                            </td>
                            <td>
                                @item.PostedDate.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.EndedDate.Value.ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @item.ApplicantCount
                            </td>
                            <td>
                                @if (item.IsPublic == true)
                                {
                                    <span class="label label-success">Đang hiển thị</span>
                                }
                                else
                                {
                                    <span class="label label-warning">Không hiển thị</span>
                                }
                                @if (DateTime.Now.CompareTo(item.EndedDate) > 0)
                                {
                                    <span class="label label-danger">Quá hạn</span>
                                }
                            </td>
                            <td>
                                @if (item.ApplicantCount > 0)
                                {
                                    <a href="@Url.Action("List", "Applicant", new { id = item.JobID })" class="btn btn-grey btn-sm" data-toggle="tooltip" title="Quản lý ứng viên"><i class="fa fa-user"></i></a>
                                }
                                <a href="@Url.Action("Detail","Job",new { jobID = item.JobID })" class="btn btn-info btn-sm" data-toggle="tooltip" title="Xem thông tin"><i class="fa fa-info-circle"></i></a>
                                @if (DateTime.Now.CompareTo(item.EndedDate) < 0)
                                {
                                    <button type="button" class="btn btn-violet btn-sm" data-toggle="tooltip" title="Chỉnh sửa"><i class="fa fa-edit"></i></button>

                                    if (item.IsPublic == true)
                                    {
                                        using (Html.BeginForm("Hide", "Job", FormMethod.Post, new { id = "HideForm" + item.JobID, style = "display: inline;" }))
                                        {
                                            <input type="hidden" name="jobID" value="@item.JobID" />
                                            <button type="button" data-id="HideForm@(item.JobID)" data-message="Bạn thật sự muốn ẩn?" class="btn btn-warning btn-sm confirmButton">
                                                <i class="fa fa-times" data-toggle="tooltip" title="Ẩn"></i>&nbsp;
                                            </button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("Display", "Job", FormMethod.Post, new { id = "DislayForm" + item.JobID, style = "display: inline;" }))
                                        {
                                            <input type="hidden" name="jobID" value="@item.JobID" />
                                            <button type="button" data-id="DislayForm@(item.JobID)" data-message="Bạn thật sự muốn hiển thị?" class="btn btn-success btn-sm confirmButton">
                                                <i class="fa fa-check" data-toggle="tooltip" title="Hiển thị"></i>&nbsp;
                                            </button>
                                        }
                                    }
                                }
                                
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>

</div>
