@model IEnumerable<JobSearchingSystem.Models.JobItem>

@{
    ViewBag.Title = "ManageJob";
    Layout = "~/Views/Shared/_LayoutFinal.cshtml";
}


@*
    <style>
        .nav-pills li.active a {
            background-color: #F8FFBA !important;
        }

        a {
            color: #428bca !important;
        }
    </style>*@
<script>
    $(document).ready(function () {
        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifChecked', function (event) {
            $('input').iCheck('check');

        });
        $('input[type="checkbox"][name="userAccessNeeded"]').on('ifUnchecked', function (event) {
            $('input').iCheck('uncheck');

        });

    });

    $(document).on("click", ".open-ModalDisplayConfirm", function (id) {
        var myJobId = $(this).data('id');
        $("#DisplayJobID").val(myJobId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

    $(document).on("click", ".open-ModalHideConfirm", function (id) {
        var myJobId = $(this).data('id');
        $("#HideJobID").val(myJobId);
        // As pointed out in comments,
        // it is superfluous to have to manually call the modal.
        // $('#addBookDialog').modal('show');
    });

</script>

<div id="ModalDisplayConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Hiển thị công việc</h4>
            </div>
            @using (Html.BeginForm("Display", "Job", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc muốn hiển thị công việc này?
                    </p>
                    <input type="hidden" name="jobID" id="DisplayJobID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>

<div id="ModalHideConfirm" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" aria-hidden="false" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="modal-default-label" class="modal-title">Bỏ hiển thị công việc</h4>
            </div>
            @using (Html.BeginForm("Hide", "Job", FormMethod.Post))
            {
                <div class="modal-body">
                    <p>
                        Bạn có chắc không muốn tiếp tục hiển thị công việc này?
                    </p>
                    <input type="hidden" name="jobID" id="HideJobID" value="" />
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Đồng ý</button>
                    <button type="button" data-dismiss="modal" class="btn btn-default">Hủy bỏ</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="page-content" style="padding: 20px 60px 80px 80px">
    <div class="col-lg-12 panel panel-default">
        <h2 style="font-weight:600;text-align:center">Quản lý việc làm</h2>
        <br />
        <div class="row">
            <div class="col-sm-3 col-md-3" style="width:23%">
                <a href="@Url.Action("Create","Job")" class="btn btn-blue btn-sm btn-block"><i class="fa fa-pencil"></i>&nbsp;Đăng việc làm mới</a>
            </div>
        </div>
        <div class="mtl mbl"></div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="table-container">

                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                        <thead>
                            <tr>
                                <th width="7%"><input type="checkbox" class="checkall" id="select-all" name="userAccessNeeded" /></th>
                                <th width="20%">Tiêu đề</th>
                                <th width="10%">Ngày đăng</th>
                                <th width="10%">Hết hạn</th>
                                <th width="10%">Ứng viên</th>
                                <th width="20%">Tình trạng</th>
                                <th width="33%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>
                                        @item.JobTitle
                                    </td>
                                    <td>
                                        @item.PostedDate.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.EndedDate.Value.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @item.ApplicantCount
                                    </td>
                                    <td>
                                        @if (item.IsPublic == true)
                                        {
                                            <span class="label label-success">Đang hiển thị</span>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">Không hiển thị</span>
                                        }
                                        @if (DateTime.Now.CompareTo(item.EndedDate) > 0)
                                        {
                                            <span class="label label-danger">Quá hạn</span>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Detail","Job",new { jobID = item.JobID })" class="btn btn-info" data-toggle="tooltip" title="Xem thông tin"><i class="fa fa-info-circle"></i></a>
                                        @if (DateTime.Now.CompareTo(item.EndedDate) < 0)
                                        {
                                            <button type="button" class="btn btn-violet" data-toggle="tooltip" title="Chỉnh sửa"><i class="fa fa-edit"></i></button>

                                            if (item.IsPublic == true)
                                            {
                                                <button type="button" data-target="#ModalHideConfirm" data-id="@item.JobID" data-toggle="modal" class="open-ModalHideConfirm btn btn-warning">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button type="button" data-target="#ModalDisplayConfirm" data-id="@item.JobID" data-toggle="modal" class="open-ModalDisplayConfirm btn btn-success">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            }
                                            if (item.ApplicantCount > 0)
                                            {
                                                <a href="@Url.Action("List","Applicant",new { id = item.JobID })" class="btn btn-blue" data-toggle="tooltip" title="Ứng viên"><i class="fa fa-male"></i></a>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="pagination-panel" style="width:150%">
                                Page
                                &nbsp;<a href="#" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-left"></i></a>&nbsp;<input type="text" maxlenght="5" value="1" class="pagination-panel-input form-control input-mini input-inline input-sm text-center">&nbsp;<a href="#" class="btn btn-sm btn-default btn-prev"><i class="fa fa-angle-right"></i></a>&nbsp;
                                of 6 | View
                                &nbsp;<select class="form-control input-xsmall input-sm input-inline">
                                    <option value="20" selected="selected">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                    <option value="-1">All</option>
                                </select>&nbsp;
                                records | Found total 58 records
                            </div>
                        </div>
                        <div class="col-lg-6 text-right">
                            <div class="pagination-panel">
                                <ul class="pagination pagination-sm man">
                                    <li><a href="#">«</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
